@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    overscroll-behavior: none !important;
    overscroll-behavior-y: none !important;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
  }
  body {
    background-color: #11151D;
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.leaflet-container {
  background: #E5E7EB !important;
}

.leaflet-tile-pane {
  filter: none;
}

.glass-panel {
  background: rgba(32, 38, 49, 0.85);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
