# Dependencies
node_modules
.pnp
.pnp.js

# Environment & local DB
.env
.env.local
.env.development
.env.test
dev.db
dev.db-journal

# Build outputs
dist
!apps/api/dist
build
.next
.out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea
